@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
body > div,
main {
  height: 100%;
} */

a:hover {
  @apply underline underline-offset-4;
}

/* header {
	padding: 0 7%;
} */

.leistungen-horizontal,
.leistungen-vertical {
  @apply hover:no-underline flex flex-col text-zad-blue-600 space-y-4 cursor-pointer  hover:scale-105 transition-all;
}

.leistungen-horizontal {
  @apply max-w-sm my-12 md:my-16 xl:my-0;
}

/* .open .leistungen-horizontal,
.open .leistungen-vertical {
  z-index: 900;
} */

div[class^="leistungen-icon-"] {
  @apply inline-flex items-center justify-center mx-auto  text-zad-blue-600 transition-colors duration-300 bg-white rounded-full border-[3px] p-4 border-zad-blue-600;
}

.leistungen-icon-vertical {
  @apply w-16 h-16;
}
.leistungen-icon-horizontal {
  @apply w-36 h-36;
}

.leistungen-vertical:hover .leistungen-icon-vertical,
.leistungen-horizontal:hover .leistungen-icon-horizontal {
  @apply bg-zad-blue-600 text-white;
}

h1 {
  @apply text-zad-blue-600 text-4xl mb-8;
}

h2 {
  @apply text-zad-blue-600 font-bold text-2xl mb-4;
}
h3 {
  @apply text-red-700 font-bold text-xl mb-4;
}

p {
  @apply text-zad-blue-600 mb-8;
}

.button {
  @apply bg-zad-blue-600 text-white px-8 py-4 rounded hover:no-underline hover:bg-white hover:text-zad-blue-600 transition-all duration-150 border-2 border-zad-blue-600 whitespace-nowrap;
}

.datenschutz p {
  @apply mb-4;
}
.datenschutz h1 {
  @apply mt-16;
}

li {
  @apply mb-2;
}

.content-wrapper {
  @apply mx-auto max-w-[130em] p-32 bg-zad-blue-200 bg-opacity-95 mt-16 flex space-x-32 drop-shadow-xl;
}

.open .hand {
  z-index: -999;
  width: 0;
}
.open .hand.leistungen {
  z-index: 99;
  left: 0;
  opacity: 1;
  height: 20em;
  bottom: 0;
  top: auto;
  width: auto;
}

main.open .gras-left,
main.open .gras-right {
  width: 5%;
}

main.tease:not(.open) .gras-left {
  @apply -translate-x-12;
}

main.tease:not(.open) .hand {
  @apply opacity-100 translate-x-12;
}

.no-curtain > img {
  display: none !important;
}

.arrow {
  pointer-events: none;
  z-index: 50;
}

.arrow__path {
  stroke: theme("colors.red.500");
  fill: transparent;
  stroke-dasharray: 0 10;
  stroke-width: 5px;
  stroke-linecap: round;
}

.arrow__head {
  display: none;
}

.team-detail {
  @apply my-10 flex flex-wrap justify-center gap-x-[8%] gap-y-[70px];
}

.team-header {
  @apply text-white text-3xl text-center mt-36 mb-16 font-normal;
}

/* NAVIGATION */

.main-nav a {
  @apply hidden xl:block;
}

.burger {
  @apply space-y-2 xl:hidden;
}

.burger span {
  @apply block w-8 h-0.5 bg-zad-blue-600 duration-150 transition-all;
}
.burger span:last-child {
  @apply w-5;
}
.burger:hover {
  @apply cursor-pointer;
}
.burger:hover span {
  @apply w-8;
}
