@import "@fontsource/lato";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./button.css";

a:hover {
  @apply underline underline-offset-4;
}

.leistungen-horizontal,
.leistungen-vertical {
  @apply hover:no-underline flex flex-col text-zad-blue-600 space-y-2 cursor-pointer  hover:scale-105 transition-all;
}

.leistungen-horizontal {
  @apply max-w-sm my-10 md:my-16 xl:my-0;
}

.leistungen-vertical {
  @apply w-1/2 md:w-auto;
}

div[class^="leistungen-icon-"] {
  @apply inline-flex items-center justify-center mx-auto  text-zad-blue-600 transition-colors duration-300 bg-white rounded-full border-[3px] p-4 border-zad-blue-600 overflow-hidden relative;
}

.leistungen-icon-vertical {
  @apply w-16 h-16;
}
.leistungen-icon-horizontal {
  @apply w-36 h-36;
}

.leistungen-vertical:hover .leistungen-icon-vertical,
.leistungen-horizontal:hover .leistungen-icon-horizontal {
  @apply bg-zad-blue-600 text-white;
}

.leistungen-horizontal {
  @apply w-full md:w-2/4 lg:w-1/4 flex-wrap;
}

.leistungen-horizontal svg,
.leistungen-vertical svg {
  @apply transition-transform absolute w-3/5 duration-200;
}

.leistungen-vertical svg {
  @apply w-1/2;
}
.leistungen-horizontal:hover svg.icon-start,
.leistungen-vertical:hover svg.icon-start {
  transform: translateY(-200%);
}
.leistungen-horizontal svg.icon-end,
.leistungen-vertical svg.icon-end {
  transform: translateY(200%);
}
.leistungen-horizontal:hover svg.icon-end,
.leistungen-vertical:hover svg.icon-end {
  transform: translateY(0);
}

h1 {
  @apply text-zad-blue-600 text-4xl mb-8;
}

h2 {
  @apply text-zad-blue-600 font-bold text-2xl mb-4;
}
h3 {
  @apply text-red-700 font-bold text-xl mb-4;
}

h4 {
  @apply text-zad-blue-600 font-bold text-xl mb-4;
}

p {
  @apply text-zad-blue-600 mb-8;
}

.button {
  @apply bg-zad-blue-600 text-white px-8 py-3 rounded hover:no-underline hover:bg-white hover:text-zad-blue-600 transition-all duration-150 border-2 border-zad-blue-600 whitespace-nowrap;
}

.datenschutz p {
  @apply mb-4;
}
.datenschutz h1 {
  @apply mt-16;
}

.datenschutz h2,
.datenschutz h3 {
  @apply mt-8;
}

.datenschutz ul {
  @apply text-zad-blue-600;
}

li {
  @apply mb-2;
}

.content-wrapper {
  @apply mx-auto max-w-[130em] p-32 bg-zad-blue-200 bg-opacity-95 mt-16 flex space-x-32 drop-shadow-xl;
}

.open .hand {
  z-index: -999;
  width: 0;
}
.open .hand.leistungen {
  z-index: 99;
  left: 0;
  opacity: 1;
  height: 20em;
  bottom: 0;
  top: auto;
  width: auto;
}

main.open .gras-left,
main.open .gras-right {
  width: 5%;
}

main.tease:not(.open) .gras-left {
  @apply -translate-x-12;
}

main.tease:not(.open) .hand {
  @apply opacity-100 translate-x-12;
}

.no-curtain > img {
  display: none !important;
}

.arrow {
  pointer-events: none;
  z-index: 50;
}

.arrow__path {
  stroke: theme("colors.red.500");
  fill: transparent;
  stroke-dasharray: 0 10;
  stroke-width: 5px;
  stroke-linecap: round;
}

.arrow__head {
  display: none;
}

.team-detail {
  @apply my-10 flex flex-wrap justify-center gap-x-[8%] gap-y-[70px];
}

.team-header {
  @apply text-white text-3xl text-center mt-16 md:mt-32 mb-16 font-normal;
}

/* NAVIGATION */

.main-nav a:not(.messe) {
  @apply hidden xl:block;
}

.burger {
  @apply space-y-2 xl:hidden;
}

.burger span {
  @apply block w-8 h-0.5 bg-zad-blue-600 duration-150 transition-all;
}
.burger span:last-child {
  @apply w-5;
}
.burger:hover {
  @apply cursor-pointer;
}
.burger:hover span {
  @apply w-8;
}

.nav {
  @apply transition-all duration-200;
}

.nav.scroll {
  @apply fixed w-full bg-zad-blue-200 drop-shadow-md top-0 left-0 px-[5%] py-6 mt-0;
}
.nav.scroll img {
  @apply w-24;
}

.scroll .messe {
  @apply hidden;
}

.pulse {
  animation: pulse-ani 0.9s ease-out 1 8s;
}

@keyframes pulse-ani {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.side-contact-form input::placeholder,
.side-contact-form textarea::placeholder {
  font-size: 14px;
}

.way-block {
  @apply relative overflow-hidden flex-col text-center justify-between bg-zad-blue-200 px-8 py-6 rounded-md;
}

.way-header {
  @apply text-xl mt-10 mb-8;
}

.way-number {
  @apply absolute top-10 left-0 opacity-5 text-[200px];
}
